@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

:root {
    --foreground: #121212;
    --page-gray: #707073;
}
@theme {
    --color-foreground: var(--forground);
    --color-page-gray: var(--page-gray);
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    button {
        @apply cursor-pointer transition;
    }
}

@layer components {
    .nav-icon-wrapper {
        @apply size-10 rounded-full transition hover:bg-gray-100 flex justify-center items-center cursor-pointer;
    }
    .nav-icon {
        @apply size-5;
    }

    /* justify and align center "cc": center center */
    .cc {
        @apply flex justify-center items-center;
    }

    .btn {
        /* @apply hover:opacity-50 active:scale-95; */
        @apply transition hover:opacity-80 active:scale-95;
    }

    .hr {
        @apply w-full text-gray-300;
    }

    .cart-icon {
        @apply size-[40px] flex justify-center items-center rounded-full transition-colors hover:bg-gray-200;
    }

    /* test */
    .test {
        @apply text-blue-300 text-base bg-blue-700;
    }
}

@utility container {
    @apply p-3 mx-auto max-w-[1440px];
}
